<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.db3.mapper.OrderCostMapper">
  <resultMap id="BaseResultMap" type="dal.db3.entity.OrderCost">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo"/>
    <result column="REAL_PAY" jdbcType="BIGINT" property="cost"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <select id="queryOrderCost" resultMap="BaseResultMap">
    SELECT ORDER_NO, REAL_PAY from order_info
    <where>
      order_no in
      <foreach collection="collection" item="item" separator="," open="(" close=")">
        #{item}
      </foreach>
    </where>
  </select>

</mapper>